
@media (max-width: 1150px) {
    .wrapperStartScreen img{
        width: 100%;  
        height: unset;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 450px) and (orientation: landscape) {

    .bar {
        background-color: #4b4e4f;
    }    

    input[type="checkbox"]:checked~.content {
        transform: translateX(40%);
    }

    aside {
        width: 40%;
    }

    .asideList {
        margin-top: 70px;
    }

    .asideAnchor {
        padding: 10px 0;
        font-size: 1rem;
    }

    .menu{
        width: clamp(250px, 70%, 500px) !important;
        height: clamp(250px, 80%, 800px) !important;
    }

    .menu > h1 {
        font-size: 2rem;    
    }

    .menu > div p {
        font-size: 1.3rem !important;
    }

    .menu>div img {
        width: 30px;
        height: 30px;
    }

    .menu span {
        padding-right: 3px;
    }

    .wrapperStartScreen{
        height: 100%;
    } 

    .gameChild, .gameScreen, .startGameScreen {
        display: none;
    }

    #mobileLeft, #mobileRight {
        display: flex;
    }
    
    canvas, .gameEnd {
        height: 100vh;
        width: 100vw;
    }
}