@font-face {
    font-family: 'ranchers';
    src: url('fonts/ranchers-regular.ttf') format('truetype')
}  

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'ranchers', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3rem;
    letter-spacing: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.wrapper{
    position: relative; 
    height: 100vh;
    width: 100%;
}

.wrapper::before {    
    content: "";
    background-image: url('img/10_background/desert.jpg');
    background-position: top;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}

canvas {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 10px 10px 150px 10px;
}

.game{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}