@font-face {
    font-family: 'ranchers';
    src: url('fonts/ranchers-regular.ttf') format('truetype')
}  

body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'ranchers', Arial, Helvetica, sans-serif;
    color: rgb(42, 45, 49);
}

h1{
    font-size: 3rem;
    letter-spacing: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.gameScreen, .startScreen{
    position: absolute; 
    height: 100vh;
    width: 100%;
}

.gameScreen::before {    
    content: "";
    background-image: url('img/10_background/desert.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

canvas {
    background-color: black;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

.gameChild{
    width: 750px;
    height: 600px;
    position: absolute;
    z-index: 0;
    background: white;
    top: -15px;
    display: flex;
    align-items: self-end;
}

.controlGame{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    flex: 1;
}

.controlGame > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.controlGame p {
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.controlGame img {
    width: 40px;
    height: 40px;
}

.mobileKeys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    background: aliceblue;
}

.mobileKeys img {
    margin: 0 !important;
    padding: 8px !important;
}

#mobileLeft{
    display: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#mobileRight{
    display: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.canvasoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameSettings {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.gameSettings img {
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

#fullscreen{
    z-index: 0;
}

.gameEnd{
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
}

.canvasoverlay img {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.game{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.startScreen{
    background-color: rgb(42, 45, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ease-in {
    animation: grow 2s ease-in;
    transform: scale(3);
  }
  
  @keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
  }

.d-none{
    display: none !important;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
}

.afterGame{
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.afterGame button {
    padding: 15px;
    margin: 20px;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #362d2d;
    background-color: rgb(255, 166, 0);
    box-shadow: inset 1px 1px 15px #333;
    border-radius: 3px;
    border: none;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.afterGame button:hover{
    cursor: pointer;
    box-shadow: inset 1px 1px 25px #333;
    transform: scale(0.95);    
}

aside {
    background: linear-gradient( to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.4) ),url(./img/5_background/first_half_background.png);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 1;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: fixed;
}

.bar {
    display: block;
    background-color: #25A7CD;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
    z-index: 2;
    transition: transform .5s ease-in-out;
}

.asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    letter-spacing: 7px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    height: 65px;
    position: relative;
    transition: all .3s .15s ease-in;
    cursor: pointer;
}

.asideAnchor:hover::before {
    content: "";
    margin-left: -20px;
    margin-right: 20px;
    background-image: url('./img/6_salsa_bottle/bottle_rotation/2_bottle_rotation-removebg.png');
    background-size: 65px 65px;
    display: inline-block;
    width: 65px;
    height: 65px;
    /* background: no-repeat; */
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.content {
    transform: translateX(20%);
}

input[type="checkbox"]:checked~label .bar {
    background-color: #fff;
}

input[type="checkbox"]:checked~label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked~label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked~label .middle {
    width: 0;
}

.middle {
    margin: 0 auto;
}

.wrapperStartScreen{
    background-image: url('./img/5_background/layers/air.png');
    background-position: 50% 75%;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapperStartScreen img{
    height: 100%;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}

.wrapperStartScreen>img:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.menu-wrapper{
    background-color: rgb(42, 45, 49, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.menu{
    width: clamp(250px, 80%, 650px);
    border-radius: 5px;
    height: 500px;
    background-color: #b47471;
    box-shadow: 6px -4px 11px rgb(255 255 255 / 19%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu>img{
    width: 30px;
    height: 30px;
}

.closeMenue{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.closeMenue:hover{
    transform: scale(1.05);
}

.menu>div img{
    width: 50px;
    height: 50px;   
}

.menu>div p{
    font-size: 2rem;
    margin: 0 !important;
    letter-spacing: 6px;
}

.menu>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

.menu span {
    color: #EFD4A5 !important;
    padding-right: 10px;
}

.portrait{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-position-y: center;
    background-size: cover !important;
    background: linear-gradient( to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.4) ),url(./img/5_background/first_half_background.png);
}

.portrait > div{
    background: #f0ffffb3;
    text-align: center;
    width: 100%;
}

.portrait > div > p{
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.growmenu {
    animation: growMenu 0.5s ease-in;
  }
  
  @keyframes growMenu {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }

.marginRight{
    margin-right: 30px;
}

.screenMode p:first-child{
    margin-bottom: 14px !important;
}

.screenOn{
    color: #EFD4A5;
}

.opacity{
    opacity: 0.5;    
}

.cursor{
    cursor: pointer;
}

/* Style for the Volume  */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
    background: #EFD4A5;
    border-radius: 1.3px;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
    border: 1px solid rgb(42, 45, 49);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgb(42, 45, 49);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #EFD4A5;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
    background: #EFD4A5;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
    border: 1px solid rgb(42, 45, 49);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #EFD4A5;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
  }
  input[type=range]::-ms-fill-upper {
    background: #EFD4A5;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #40424480, 0px 0px 1px #40424480;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #EFD4A5;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #EFD4A5;
  }

.imprint{
    flex-direction: column;
    justify-content: space-around !important;
    width: 90% !important;
}

.imprint div{
    text-align: center;
}

.imprint div p{
    font-size: 1.5rem !important;
}

